server:
  port: 80

spring:
  application:
    name: lms

#  security:
#    user:
#      name: "loanuser"
#      password: "12345"

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format-sql: true
  h2:
    console:
      enabled: true
      path: "/h2-console"
  sql:
    init:
      mode: always

logging:
  level:
    org:
      springframework:
        context:
          event: DEBUG

loan:
  eligibility:
    annualIncomeThreshold: 30000
    activeLoansThreshold: 2
    activeLoanApplicationsThreshold: 2