server:
  port: 80

spring:
  application:
    name: lms

  datasource:
    url: ""
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console
