server:
  port: 80

spring:
  application:
    name: lms

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org:
      springframework:
        context:
          event: DEBUG

loan:
  eligibility:
    annualIncomeThreshold: 30000
    activeLoansThreshold: 2
    activeLoanApplicationsThreshold: 2